/*-------------------*/
/*	  NEWS PAGE      */
/*-------------------*/

.header_section_news {
	background-image: url('../img/background/news_bg1-01.png');
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	color: white;

}